@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "bsd";
  src: url("/fonts/BigShouldersDisplay-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "bsd";
  src: url("/fonts/BigShouldersDisplay-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "bsd";
  src: url("/fonts/BigShouldersDisplay-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "bsd";
  src: url("/fonts/BigShouldersDisplay-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "outf";
  src: url("/fonts/Outfit-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "outf";
  src: url("/fonts/Outfit-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "outf";
  src: url("/fonts/Outfit-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "outf";
  src: url("/fonts/Outfit-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
