/* SHWOW MOBILE */
/* @media only screen and (max-width: 375px) {
  #my_mobile {
    display: block;
  }
} */
/* SHOW TABLET*/
/* @media only screen and (min-width: 376px) and (max-width: 768px) {
  #my_tablet {
    display: block;
  }
} */
/* SHOW DESKTOP */
/* @media only screen and (min-width: 769px) {
  #my_desktop {
    display: block;
  }
} */

/* HIDE MOBILE */
/* @media only screen and (min-width: 376px) {
  #my_mobile {
    display: none;
  }
} */
/* HIDE TABLET*/
@media only screen and (max-width: 375px) {
  #my_tablet {
    display: none;
  }
}
/* HIDE TABLET*/
@media only screen and (min-width: 769px) {
  #my_tablet {
    display: none;
  }
}
/* HIDE DESKTOP */
/* @media only screen and (max-width: 768px) {
  #my_desktop {
    display: none;
  }
} */
